@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
	height: 100%;
}

body {
	height: 100%; margin:0;
	font-family: "Nanum Gothic", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 11pt;
    background: -webkit-linear-gradient(#fdd339, #eb9562); 
	background: -o-linear-gradient(#fdd339, #eb9562); 
	background: -moz-linear-gradient(#fdd339, #eb9562); 
	background: linear-gradient(#fdd339, #eb9562);
	overflow:hidden;
	   
}
header {
	height: 300px;
	position: fixed;
	top:0;
}

.flag {
	position:fixed;
	top:10px;
	left: 30px;
	width:192px;
}

.todomonInfo {
	position:fixed;
	top:70px;
	left:80px;
}

#canvas {
	position:fixed;
	top:0px;
	left:260px;
}

.logo {
	height: 200px;
	position: fixed;
	top:20px;
	right: 40px;
}

.category {
	position: fixed;
	top:240px;
	display: inline-block;
	1background-color: white;
	font-size: 30px;
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-weight: 400;
}

.category:nth-child(1) {
	left: 30px;
}
.category:nth-child(2) {
	left: 300px;
	
}
.category:nth-child(3) {
	left: 700px;
}
.category:nth-child(4) {
	left: 900px;
}

#todoCtr {
	margin: 300px 0 0 30px;
	overflow: scroll;
	height: 60%;
	display:inline-block;
}

#todoCtr2 {
	margin: 300px 0 0 30px;
	overflow: scroll;
	height: 60%;
	display:inline-block;
	
}


.todoTable {
	background-color: white;
	border-radius: 3%;
	width: 220px;
	margin-bottom: 10px;
	padding: 17px 0px 17px 15px;
	overflow:hidden;
	white-space:nowrap;
	
}

.todoWrite{
	background-color: white;
	border-radius: 3%;
	width: 220px;
	margin-bottom: 10px;
	padding: 17px 0px 17px 15px;
}

.todoForm {
	font-size: 12pt;
}
.todoWriteBtn{
	background-color: red;
}

.todoText{
	display: inline-block;
	width:150px;
	margin-left: 10px;
	overflow:hidden;
	white-space:nowrap;
}

.todoDelete{
	display: inline-block;
}