@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
	height: 100%;
}

body {
	height: 100%; margin:0;
	font-family: "Nanum Gothic", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 11pt;
    background: -webkit-linear-gradient(#fdd339, #eb9562); 
	background: -o-linear-gradient(#fdd339, #eb9562); 
	background: -moz-linear-gradient(#fdd339, #eb9562); 
	background: linear-gradient(#fdd339, #eb9562);
	overflow:hidden;
	   
}
header {
	height: 300px;
	position: fixed;
	top:0;
}

.flag {
	position:fixed;
	top:10px;
	left: 30px;
	width:192px;
}

.todomonInfo {
	position:fixed;
	top:51px;
	left:61px;
	font-family: 'Gochi Hand', cursive, "Nanum Gothic", sans-serif;
	font-size: 16pt;
	color: #9a8a7b;
}

.nameInfo {
	font-size: 18pt;
	font-weight: 900;
	margin-left: 31px;
	color: #552e11;	
}

.level{margin-left: 15px;}
.point{margin-left: 5px;}

#canvas {
	position:fixed;
	top:0px;
	left:260px;
}

.logo {
	height: 200px;
	position: fixed;
	top:20px;
	right: 40px;
}

.category {
	position: fixed;
	top:240px;
	display: inline-block;
	1background-color: white;
	font-size: 30px;
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-weight: 400;
}

.category:nth-child(1) {
	left: 65px;
}
.category:nth-child(2) {
	left: 370px;
	
}
.category:nth-child(3) {
	left: 670px;
}
.category:nth-child(4) {
	left: 980px;
}

.todoCtrl {
	margin: 300px 20px 0 60px;
	overflow: scroll;
	height: 60%;
	display:inline-block;
}


.todoTable {
	background-color: white;
	border-radius: 3%;
	width: 220px;
	margin-bottom: 10px;
	padding: 17px 0px 17px 15px;
	overflow:hidden;
	white-space:nowrap;
	
}

.todoWrite{
	background-color: white;
	border-radius: 3%;
	width: 220px;
	margin-bottom: 10px;
	padding: 17px 0px 17px 15px;
}

.todoForm {
	font-size: 12pt;
	width: 160px;
}
.todoWriteBtn{
	width: 30px;
}

.todoText{
	display: inline-block;
	width:150px;
	margin-left: 10px;
	overflow:hidden;
	white-space:nowrap;
}

.todoDelete{
	display: inline-block;
}

.check {
	width: 30px;
}

.fb-like {
	position: fixed;
	top: 200px;
	right: 0px;
}