<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>FOODTODO</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="index.css">
<link rel="stylesheet" href="inputReset.css">
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular.min.js"></script>
	
	<header>
		<img src="img/web_header.png" />
		<img class="logo" src="img/foodTodo_logo.png" />
		<img class="flag" src="img/papyrus.png" />
		<div class="todomonInfo">
			<div class="nameInfo">율무</div>
			<div class="level">LEVEL:2</div>
			<div class="point">POINT:23/50</div>
			<div class="hunger">HUNGER:35%</div>			
		</div>
		<div class="todomon">
			<canvas id="canvas" width="230" height="230"></canvas>
		</div>
	</header>
	<div data-ng-app="foodTodoWeb" data-ng-controller="TodoController as todoCtr" id="todoCtr">
		<input type="button" value="Refresh" data-ng-click="todoCtr.refreshList()" /> <br />
		<div class="todoWrite">
			<input class="todoForm" type="text" data-ng-model="todoCtr.todoText" name="todo" placeholder="뭐할래잉?"/> 
			<input class="todoWriteBtn" type="button" value="Add" data-ng-click="todoCtr.addTodo()" /> 
		</div>
		
		<div data-ng-repeat="todo in todoCtr.todos" class="todoTable">
			<div class="todoText">{{todo.text}}</div>
			<div class="todoDelete">[<a href="#" data-ng-click="todoCtr.deleteTodo(todo.id)">X</a>]</div>
		</div>
	</div>
	<script type="text/javascript" src="index.js"></script>
</body>
</html>